body {
background-color: #333333;
background-size: cover;
}

#logo {
  float: left;
  position: fixed;
}

#nav-links {
  /*float: right;*/
  text-align: center;
  padding-top: 23px;
  /*width: 100%;*/
  /*display: inline-block;*/
  /*padding-left: 100px;*/
}

img {
  float: left;
  padding-top: 1px;
  width: 50%;
  display: inline-block;
}

.name {
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin-left: 12%;
  font-family: 'Varela Round', sans-serif;
  /*text-shadow: 2px 2px black;*/
  position: relative;
  width: 30%;
  display: inline-block;
  padding-top: 42px;
}

.social-icons {
  float: right;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.navbar {
  position: absolute;
  top: 15px;
  z-index: 2;
  width: 90%;
}

ul {
  /*padding-right: 100px;*/
  background-color: none;
  font-size: 45px;
  font-family: 'Varela Round', sans-serif;
}

.links:link {
  padding-top: 30px;


}

.links {
  padding-top: 30px;


}

.links:visited {
  padding-top: 30px;
  color: white;
}

.links:hover {
  padding-top: 30px;
  color: white;
}

.links:active {
  padding-top: 30px;
  color: white;
}

ul li {
  display:inline-block;
  text-decoration: none;
}

li a {
  display: inline-block;
  color: white;
  padding: 20px 16px;
  text-decoration: none;
}

ul:hover:not(.links) {
  background-color: none;
}

a:hover {
  text-decoration: none;
  color: white;
}

.links-signup {
  background-color: #a9fd00;
  border-radius: 20px;
  font-size: 40px;
  font-weight: bold;
}

.links-login {
  background-color: white;
  font-size: 40px;
  border-radius: 20px;
  color: #a9fd00;
  font-weight: bold;
}

/*//End of Navbar*/


/*//Title*/

.title {
  font-size: 90px;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
  display: inline-block;
  padding-top: 200px;
  color: white;
  padding-left: 80px;
}

b {
  color: #a9fd00;
}
