body {
background-color: #333333;
background-size: cover;
}

#logo {
  float: left;
  position: fixed;
}


img {
  float: left;
  padding-top: 1px;
  width: 50%;
  display: inline-block;
}

.name {
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin-left: 12%;
  font-family: 'Varela Round', sans-serif;
  /*text-shadow: 2px 2px black;*/
  position: relative;
  width: 30%;
  display: inline-block;
  padding-top: 42px;
}

@import '//codepen.io/chrisdothtml/pen/ojLzJK.css';
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
          transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.social-btns .btn.facebook:before {
  background-color: #3b5998;
}
.social-btns .btn.facebook .fa {
  margin: -7px;
  margin-bottom: 5px;
  color: #3b5998;
}
.social-btns .btn.twitter:before {
  background-color: #3cf;
}
.social-btns .btn.twitter .fa {
  margin: -7px;
  margin-bottom: 5px;
  color: #3cf;
}

.social-btns .btn.github:before {
  background-color: black;
}
.social-btns .btn.github .fa {
  margin: -7px;
  margin-bottom: 5px;
  color: black;
}

.social-btns .btn.linkedin:before {
  background-color: #007bb5;
}
.social-btns .btn.linkedin .fa {
  margin: -7px;
  margin-bottom: 5px;
  color: #007bb5;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.social-btns {
  height: 30px;
  margin: auto;
  font-size: 0;
  /*text-align: center;*/
  padding-left: 850px;
  position: absolute;
  top: 10;
  bottom: 0;
  left: 0;
  right: 0;
}
.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 38px;
  vertical-align: middle;
}


.navbar {
  position: absolute;
  top: 15px;
  z-index: 2;
  width: 90%;
}

ul {
  /*padding-right: 100px;*/
  background-color: none;
  font-size: 45px;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
}

/*.links:link {
  padding-top: 30px;
  text-decoration: none;


}*/
#nav-links {
  text-align: center;
  padding-top: 23px;
}

.links:link {
  padding-top: 15px;
  text-decoration: none;


}

.links:visited {
  padding-top: 15px;
  color: white;
  text-decoration: none;
}

.links:hover {
  padding-top: 15px;
  text-decoration: none;
  color: white;
}

.links:active {
  padding-top: 15px;
  text-decoration: none;
  color: white;
}

ul li {
  display:inline-block;
  text-decoration: none;
}

li a {
  display: inline-block;
  color: white;
  padding: 20px 16px;
  text-decoration: none;
}

ul:hover:not(.links) {
  background-color: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: white;
}

#links-signup {
  background-color: #a9fd00;
  border-radius: 20px;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
}

#links-login {
  background-color: white;
  font-size: 40px;
  border-radius: 20px;
  color: #a9fd00;
  font-weight: bold;
  text-decoration: none;
}




/*//End of Navbar*/


/*//Title*/

.title {
  font-size: 90px;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
  display: inline-block;
  padding-top: 200px;
  color: white;
  padding-left: 80px;
}

b {
  color: #a9fd00;
}
