.background {
background-image: url("../Images/running2.png");
background-size: cover;
background-repeat: none;
z-index: 2;
background-color: black;
height: 100%;
}

.navbar {
  position: absolute;
  top: 15px;
  z-index: 2;
  width: 90%;
}

#logo {
  float: left;
  position: absolute;
}

img {
  float: left;
  padding-top: 1px;
  width: 50%;
  display: inline-block;
}

.name {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-left: 12%;
  font-family: 'Varela Round', sans-serif;
  /*text-shadow: 2px 2px black;*/
  position: relative;
  width: 30%;
  display: inline-block;
  padding-top: 40px;
}

@import '//codepen.io/chrisdothtml/pen/ojLzJK.css';
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
          transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.social-btns .btn.facebook:before {
  background-color: #3b5998;
}
.social-btns .btn.facebook .fa {
  margin: -10px;
  margin-bottom: 12px;
  color: #3b5998;
}
.social-btns .btn.twitter:before {
  background-color: #3cf;
}
.social-btns .btn.twitter .fa {
  margin: -10px;
  margin-bottom: 12px;
  color: #3cf;
}

.social-btns .btn.github:before {
  background-color: black;
}
.social-btns .btn.github .fa {
  margin: -10px;
  margin-bottom: 12px;
  color: black;
}

.social-btns .btn.linkedin:before {
  background-color: #007bb5;
}
.social-btns .btn.linkedin .fa {
  margin: -10px;
  margin-bottom: 15px;
  color: #007bb5;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.social-btns {
  height: 30px;
  margin: auto;
  font-size: 0;
  /*text-align: center;*/
  padding-left: 850px;
  position: absolute;
  top: 10;
  bottom: 0;
  left: 0;
  right: 0;
}
.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 40px;
  height: 40px;
  line-height: 50px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 38px;
  vertical-align: middle;
}
/*//End of Navbar*/


/*//Title*/

.title {
  font-size: 90px;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
  display: inline-block;
  padding-top: 200px;
  color: white;
  padding-left: 9%;
  padding-right: 9%;
  text-align: center;
}

b {
  color: #a9fd00;
}

ul {
  background-color: none;
  font-size: 45px;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
}

#go-links {
  text-align: center;
  padding-top: 23px;
}

.links:link {
  padding-top: 15px;
  text-decoration: none;
}

.links:visited {
  padding-top: 15px;
  color: white;
  text-decoration: none;
}

.links:hover {
  padding-top: 15px;
  text-decoration: none;
  color: white;
}

.links:active {
  padding-top: 15px;
  text-decoration: none;
  color: white;
}

ul li {
  display:inline-block;
  text-decoration: none;
}

li a {
  display: inline-block;
  color: white;
  padding: 20px 16px;
  text-decoration: none;
}

ul:hover:not(.links) {
  background-color: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: white;
}

#links-signup {
  background-color: #00BFFF;
  border-radius: 20px;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  color: #a9fd00;
}

#links-login {
  background-color: #00BFFF;
  font-size: 28px;
  border-radius: 20px;
  color: #a9fd00;
  font-weight: bold;
  text-decoration: none;
}

#links-signup:hover {
  color: white;
}

#links-login:hover {
  color: white;
}
/*//End of Title*/

/*//Login Modal*/

input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
}

#check {
  display: block;
  font-family: 'Varela Round', sans-serif;
}
/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;

}

label {
  display: block;
  color: black;
  font-family: 'Varela Round', sans-serif;
}

#login {
  font-family: 'Varela Round', sans-serif;
  width: 53.8%;
}



button:hover {
    opacity: 0.8;
}

#footer {
  padding: 16px;
  border: none;
  margin-left: 13px;
  width: 89.8%;
  background-color:#f1f1f1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    font-family: 'Varela Round', sans-serif;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

/*img.avatar {
    width: 40%;
    border-radius: 50%;
}*/

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
    font-family: 'Varela Round', sans-serif;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
    margin: auto;
}

/* Modal Content/Box */
.modal-content {
    background-color: #E6E6E6;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

/*//End of Login Modal*/

/*//Sign Up Modal*/

input[type=text2], input[type=password2] {
    width: 93%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
}

.header2 {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: black;
  font-family: 'Varela Round', sans-serif;
  padding-bottom: 3%;
  text-decoration: underline;

}

#check2 {

  font-family: 'Varela Round', sans-serif;
}
/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 93%;
}

label {
  display: block;
  color: black;
  font-family: 'Varela Round', sans-serif;
  text-decoration: underline;
}

#signup2 {
  font-family: 'Varela Round', sans-serif;

}

.signupbut {
  width: 93%;
}

button:hover {
    opacity: 0.8;
}

#footer2 {
  padding: 16px;
  border: none;
  margin-left: 0.5px;
  width: 93%;
  background-color:#f1f1f1;
}

/* Extra styles for the cancel button */
.cancelbtn2 {
    width: 25%;
    margin-left: 37%;
    padding: 10px 18px;
    background-color: #f44336;
    font-family: 'Varela Round', sans-serif;
}

/* Center the image and position the close button */
.imgcontainer2 {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container2 {
    padding: 16px;
}

span.psw2 {
    float: right;
    padding-top: 16px;
    font-family: 'Varela Round', sans-serif;
}

/* The Modal (background) */
.modal2 {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
    margin: auto;
}

/* Modal Content/Box */
.modal-content2 {
    background-color: #E6E6E6;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 50%;
    opacity: -4px;
}

/* The Close Button (x) */
.close2 {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate2 {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw2 {
       display: block;
       float: none;
    }
    .cancelbtn2 {
       width: 100%;
    }
}

/*//End of Sign Up Modal*/
